.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #fdefc098;
}

#homepage{
  display: flex;
}

#homepage-welcome{
  width: 50%;
  height: 100vh;
  background-color: #50a387;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login{
  width: 50%;
  height: 100vh;
  padding: 10%;
  background-color:	#fdefc0;
}

.form-button{
  margin-top: 20px;
}

.signup-error{
  font-size: 1.25rem;
  color: red;
  position: absolute;
  top: 20px;
  margin: 20px;
}

.home-header{
  color: white;
  position: absolute;
  top: 0;
  padding: 5%;
  font-size: 5rem;
}
.site-info-list{
  padding-top: 10%;
}
.site-info{
  color: white;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 1100px){
  .site-info{
    display: none;
  }
  .home-header{
    position: relative;
  }
}

.form-button{
  background-color:	#468502;
  border: none;
}

#site-link{
  color:#fdefc0
}

.blog-page-header{
  background-color: #50a387;
  padding: 1% 5%;
}

.blog-page-header-text{
  display: inline-block;
  color:#fdefc0;
  font-size: 4rem;
  font-weight: bold;
}

.btn-container{
  display: inline-block;
  position: absolute;
  right: 10px;
}

.logout-btn{
  color:#31725c;
  position: relative;
  margin: 10px;
  display: inline-block;
  background-color:#fdefc0;
  font-size: large;
  font-weight: bold;
  border: none;
}

.new-post-btn{
  color:white;
  position: relative;
  margin: 10px;
  display: inline-block;
  background-color:#8bc230;
  font-size: large;
  font-weight: bold;
  border: none;
}

#row-light{
  background-color: #fdefc0a6; 
  color: #50a387;
}
#row-dark{
  background-color: #50a3879f;
}

.table td{
  padding-left: 3rem;
  vertical-align: top;
}

#content-light{
  padding-left: 1rem;
  color: #fdefc0;
  font-size: 2.25rem;
}

#content-dark{
  padding-left: 1rem;
  color: #50a387;
  font-size: 2.25rem;
}

.upvote-btn{
  margin: 0.3rem;
  border-radius: 20%;
  background-color: #31725c;
  border-color: #31725c;
}

.downvote-btn{
  margin: 0.3rem;
  border-radius: 20%;
  background-color:#8bc230;
  border-color: #8bc230;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: none;
}

.btn-primary:hover {
  color: #fff;

  border-color: none;
}
.fas{
  margin: 5px;
}

.date{
  color: #282c34;
  margin: 0.25rem;
}

.likes-counter{
  font-size: 1.3rem;
  display: inline-block;
  margin: 10px;
  color:#31725c
}

.modal-title{
  display: inline-block;
  color:#fdefc0;
  font-size: 3rem;
  font-weight: bold;
}

.modal-header{
  display: block;
  text-align: center;
  background-color: #31725c;
}

.modal-div{
  text-align: center;
}

.modal-text{
  text-align: center;
  color:#31725c;
  font-size: 1.2rem;
}

.modal-body{
  background-color: #fdefc0;
}

.submit-post-btn{
    display: inline-block;
    color:white;
    margin: auto;
    display: inline-block;
    background-color:#8bc230;
    font-size: large;
    font-weight: bold;
    border: none;
}